*{
    margin: 0px;
    padding: 0px;
}
.nav{
    height: 80px;
    width:100%;
}
.nav-icon{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    border:none;
    text-align: center;
}
.nav-icon-1{
    display: flex;
}
.nav-image{
    width: 30px;
    height: 30px;
}
.nav-head{
    margin-top: 10px;
    margin-left: 2px;
}
.nav-hide{
    display: none;
}
.nav-link{
    margin-top:8px ;
}
.nav-link-1{
    text-decoration: none;
    color:orange;
    padding: 10px;
}
.nav-link-2{
    text-decoration: none;
    color:skyblue;
}
.nav-link-3{
    text-decoration: none;
    color:blue;
    padding: 10px;
}
.nav-link-4{
    text-decoration: none;
    color:rgb(230, 99, 242);
}
.nav-btn{
border: none;
border-radius: 8px;
padding: 10px;
background-color: orange;
color: white;
width: 100px;
/* height: 30px; */
justify-content: center;
text-align: center;
}
.hr{
    display: none;
}

/* main section (students) */
.power{
    border: none; 
    height: 250px; 
    justify-content: space-around;
    margin-left: 10px ;
    display: flex;
}
.blue{
    color: orange;
}
.orange{
    color:blue
}
.power-head{
    margin-top: 25px;
}
    .power-image{
        height: 250px;
        margin-right: 20px;
    }
    .power-h{
        margin-bottom: 10px;
    }
    .power-p{
        font-size: 12px;
    }
    .power-btn{
        border: none;
        border-radius: 5px;
        background-color: black;
        color: white;
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
        width: 80px;
    }
@media screen and (max-width: 576px) {
    .nav-head{
        display: none;
    }
        .nav-btn {
           display: none; 
        }
        .nav-link{
            display: none;
        }
        .nav-image{
          margin-right: 250px;
          width: 70px;
          height: 70px;

        }
        .nav-hide{
            display: block;
            width: 60px;
            height: 60px;
            margin-right: 60px;
            margin-top: 5px;
        }
        .hr{
            display: block;
           background-color:orange;
        }
}
