*{
    margin: 0px;
    padding: 0px;
}
.body{
    margin: 40px;
}
.nav{
    height: 80px;
    max-width:100%; 
}
.nav-icon{
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    border:none;
    text-align: center;
}
.nav-icon-1{
    display: flex;
}
.nav-image{
    width: 30px;
    height: 30px;
}
.nav-head{
    margin-top: 10px;
    margin-left: 2px;
}
.nav-hide{
    display: none;
}
.nav-link{
    margin-top:8px ;
}
.nav-link-1{
    text-decoration: none;
    color:orange;
    padding: 20px;
}
.nav-link-2{
    text-decoration: none;
    color:skyblue;
}
.nav-link-3{
    text-decoration: none;
    color:blue;
    padding: 20px;
}
.nav-link-4{
    text-decoration: none;
    color:rgb(230, 99, 242);
}
.nav-btn{
border: none;
border-radius: 8px;
padding: 10px;
background-color: orange;
color: white;
width: 100px;
/* height: 30px; */
justify-content: center;
text-align: center;
}
.hr{
    display: none;
    color: orange;
}

/* main section (students) */
.power{
    border: none; 
    height: 250px; 
    justify-content: space-around;
    display: flex;
}
.blue{
    color: orange;
}
.orange{
    color:blue
}
.power-head{
    margin-top: 25px;
}
    .power-image{
        height: 250px;
        /* margin-right: 20px; */
    }
    .power-h{
        margin-bottom: 10px;
    }
    .power-p{
        font-size: 14px;
    }
    .power-btn{
        border: none;
        border-radius: 5px;
        background-color: black;
        color: white;
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
        width: 80px;
    }

    /* standard option */
    .standard{
        align-items: center; 
        background-image: url(images/bg.png);
        text-align: center;
        max-width: 100%;
    }
    .standard-h{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .standard-he{
        margin-bottom: 20px;

    }
    .standard-p{
        font-size: 8px;
        margin-bottom: 20px;
    }
    .standard-card{
        display: flex;
        justify-content: space-around;

    }
    .standard-card-1{
     /* align-items: center;*/
     border: 2px solid whitesmoke;
     border-radius: 8px;
     background-color: whitesmoke;
     background-image: linear-gradient(blue white);
    }
    .standard-card-2{
        padding: 10px;
        border: 2px solid whitesmoke;
        border-radius: 8px;
        background-color: whitesmoke;
    }
    .standard-card-3{
        padding: 10px;
        /* margin-left: 30px; */
        border: 2px solid whitesmoke;
        border-radius: 8px;
        background-color: whitesmoke;
    }
    .standard-arrow{
        margin-top: 30px;
        background-color: orange;
        color: white;
        border: none;
        border-radius: 50%;
        padding: 8px;
        height: 30px;
        width: 30px;
    }
    .standard-image{
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
    .card-1{
       color: blue;
    }
    .card-2{
        color:orange;
    }
    .card-3{
        color: blueviolet;
    }
    /* our stories */
    .stories{
        display: flex;
        margin-top: 40px;
        justify-content: space-around;
    }
    .st-grid{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
    .img-btn{
        padding: 10px;
        margin: 0px;
    
    }
    .stories-1{
        text-align: start;
        background-color: wheat;
        border:2px solid whitesmoke;
        border-radius: 15px;
    }
    .st-image{
      width: 300px;
      height: 250px;
      border-radius: 5px;
      margin-bottom:0;
    }
    .fun{
        margin-left: 10px;
        font-size: 18px;
    }
    .st-h{
        font-size: 12px;
        margin-top: 10px;
    }
    .st-btn{
        padding: 6px;
        border: none;
        border-radius: 10px;
        font-size: 7px;
        background-color: skyblue;
        color: white;
        margin-bottom: 10px;
    }
    .st-btn-s{
        padding: 6px;
        border: none;
        border-radius: 10px;
        font-size: 7px;
        background-color: green;
        color: white; 
    }
    .st-btn-b{
        padding: 6px;
        border: none;
        border-radius: 10px;
        font-size: 7px;
        background-color: blue;
        color: white;
    }
    .st-size{
        border:2px solid whitesmoke whitesmoke;
        border-radius: 10px;
    }
    .stories-2{
        background-color: whitesmoke;
        padding: 10px;
        text-align: start;
        border-radius: 10px;
        margin: 10px;
    }
    .stories-3{
        background-color: whitesmoke;
        padding: 10px;
        text-align: start;
        border-radius: 10px;
        margin: 10px;
    }
    .stories-4{
        background-color: whitesmoke;
        padding: 10px;
        text-align: start;
        border-radius: 10px;
        margin: 10px;
    }
    .stories-5{
        background-color: whitesmoke;
        padding: 10px;
        text-align: start;
        border-radius: 10px;
        margin: 10px;
    }
    .our{
        background-image: url(images/bg.png);
        text-align: center;
        margin-top: 40px;
    }
    .st-p{
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .st-size{
        width: 120px;
        height: 100px;
    }
    .st-btn-end{
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
        width: 100px;
    }
    /* footer */
    .footer{
        display: flex;
        background-color:skyblue;
        justify-content: space-around;
        margin-top: 25px;
        height: 150px;
        /* max-width: 100%; */
        border: none;
        border-radius: 10px;
    }
    .footer-1, .footer-2{
        margin-right:25px;
    }
    .footer-image{
        display: flex;
        margin-top: 30px;
    }
    .ft-image{
        width: 40px;
        height: 40px;
    }
    .ft-h{
        margin-top: 6px;
        color: white;
    }
    .ft-p{
        margin-top: 10px;
        font-size: 8px;
        padding: 5px;
    }
    .footer-2{
        margin-top: 30px;
    }
    .footer-h-2{
        color: white;
        padding: 5px;
    }
    .footer-a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color: white;
        margin-left: 8px;
    }
    .footer-a-1{
        text-decoration: none;
        color: white;
        font-size: 10px;
        margin-top: 2px;
    }
    .footer-a-2{
        text-decoration: none;
        color: white;
        font-size: 10px;
        margin-top: 2px;
    }
    .footer-a-3{
        text-decoration: none;
        color: white;
        font-size: 10px;
        margin-top: 2px;
    }
    .footer-a-4{
        text-decoration: none;
        color: white;
        font-size: 10px;
        margin-top: 2px;
    }
    .ft-h3{
       margin-top: 30px;
       margin-bottom: 10px;
       color: white;
    }
    .footer-end{
        display: flex;
        /* align-items: center; */
        justify-content: space-around;
    }
    .ses{
        padding: 2px;
        width: 20px;
        height: 20px;
    }
@media screen and (max-width: 576px) {
    .nav-head{
        display: none;
    }
        .nav-btn {
           display: none; 
        }
        .nav-link{
            display: none;
        }
        .nav-image{
          margin-right: 250px;
          width: 70px;
          height: 70px;

        }
        .nav-hide{
            display: block;
            width: 60px;
            height: 60px;
            margin-right: 60px;
            margin-top: 5px;
        }
        .hr{
            display: block;
            border-color: orange;
        }
        /* power */
        .power{
            flex-direction: column-reverse;
            align-items: center;
        }
        .power-image{
            width: 400px;
            height: 500px;
            margin-left: 25px;
        }
        .power-head{
            text-align: center;
        }
        /* standard */
        .standard{
            margin-top: 500px;
        }
        .standard-card{
            flex-direction: column;
            gap: 20px;
        }
        .standard-arrow{
            display: none;
        }
        /* stories */
        .stories-1{
            display: none;
        }
        /* footer */
        .footer{
            display: flex;
            flex-direction: column;
            height: 350px;
            margin-left: 10px;
        }
        .footer-1, .footer-2, .footer-3{
            padding-left: 30px;
            margin-top: 3px; 
        }
        .footer-end{
            display: flex;
            justify-content: start;
        }
}
